@font-face {
  font-family: TTNormsBold;
  src: url("fonts/ttnormspro/TTNorms-Bold.otf") format("opentype");
}

@font-face {
  font-family: TTNormsBlack;
  src: url("fonts/ttnormspro/TTNorms-Black.otf") format("opentype");
}

@font-face {
  font-family: TTNormsRegular;
  src: url("fonts/ttnormspro/TTNorms-Regular.otf") format("opentype");
}

@font-face {
  font-family: sourtype;
  src: url("fonts/sourtype.ttf") format("truetype");
}

@font-face {
  font-family: souricon;
  src: url("fonts/souricon.ttf") format("truetype");
}

#accountpage{
}

#centrapage{
  display: flex;
    justify-content: center;

}



#navbar {
  background-color: #FF5880;
  position: fixed;
  height: 45px;
  width: 101%;
  font-family: TTNormsBold;
  font-size: 11px;
  margin: -10px;
  margin-top: -10px;
  z-index: 20;
  justify-content: center;
}


.li {
  float: left;
  width: auto;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;

  text-decoration: none;
}

.li a:hover {
  background-color: white;
  color: #FF5880;
  transition: 0.3s ease-in-out;
}

#about {
  margin-right: 55px;
}

.dx {
  float: right;
}

#logo img {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 45px;
  overflow: hidden;
  float: left;
  opacity: 0.8;
  width: 35px;
}

#logo img:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 20px 0px;
  color: white;
  text-align: center;
  margin-top: 3vw;
}

#shoppingbag{
  position: absolute;
  top: 35px;
  right: 157px;
  align-content: center;
  z-index: 1;
  width: 150px;
  opacity:0;
  display: none;
  height: 100px;

}

#informa {
  font-family: souricon;
  font-size: 35px;
}

#carrellosksk a {
  padding-top: 15px;
  font-family: souricon;
  font-size: 35px;
}

#carrellosksk a:hover {
  background-color: white;
  color: #FF5880;
  cursor: pointer;
}


#carrellosksk a:hover + #shoppingbag {
  opacity: 1;
  display: block;
}

#shoppingbag:hover {
  opacity: 1;
  display: block;
}

#triangolino {
  height: 140px;
  width: 100%;
  background-color: white;
  border-radius: 2vw;
  box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.3);}

#empty{
height: 35%;
border-bottom-style: solid;
border-bottom-width: 0.1vw;
color: #C4C4C4;
margin-left: 10px;
margin-right: 10px;
line-height: 5.5;
text-align: center;
}

.scrittacarello{
  margin-left: 10px;
  font-family: 'TTNormsRegular';

}

.scrittacarello:hover{
  font-family: 'TTNormsBold';
  cursor: pointer;
   text-decoration: underline;

}

#bag{
  border-bottom-style: solid;
    border-bottom-color: #C4C4C4;
  border-bottom-width: 0.1vw;
  color: rgba(56,	66,	241, 1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  padding-top: 7px;
  display: flex;
}

#triangolino img{
  height:1.1vw;
  padding-left: 0.5vw;
}

#saveditems{
  border-bottom-style: solid;
    border-bottom-color: #C4C4C4;
  border-bottom-width: 0.1vw;
  color: rgba(56,	66,	241, 1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  padding-top: 7px;
      display: flex;
}

#orders{

  color: rgba(56,	66,	241, 1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  padding-top: 7px;
  font-family: 'TTNormsRegular';
      display: flex;
}

#triangoloalto{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    left: 20vw;
    box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.3);
}

#containertriangolo{
  display: flex;

}

#vuoto{
  width: 50%;
}


#footer img {
  width: 100px;
}










#domanda {
  font-family: TTNormsBold;
  font-size: 30px;
  padding-top: 6vw;
  padding-bottom: 2vw;
  color: #333333;
}


#container {
  display: flex;
  max-width: 900px;
  max-height: 500px;
}

.dashbox {
  background-color: white;
  text-align: center;
  border-radius: 15px;
  margin-right: 2%;
  box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.3);
  font-family: TTNormsBold;
  font-size: 10px;
  padding-top: 2%;
}


#puntodomandasettimana{
    margin-top: -0.2%;
}

#ingrandiscisettimana{
    margin-top: -0.2%;
}

#ingrandisciwallet{
    margin-top: 0.9%;
    position: absolute;
    margin-left: 15%;
    z-index: 1;
}

.puntodomanda:hover {
  background-color: #FF5880;
  transition: 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}


[data-balloon] {
  position: relative;
}

[data-balloon]::before {
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out;
  border-radius: 4px;
  color: white;
  background-color: #FF5880;
  content: attr(data-balloon);
  font-size: 0.8vw;
  font-family: TTNormsRegular;
  padding: .5em 1em;
  position: absolute;
  white-space: nowrap;
}

[data-balloon]::after {
  background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(255, 88, 129, 1)" transform="rotate(0)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
  background-size: 100% auto;
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out;
  content: '';
  position: absolute;
}

[data-balloon]:hover::before, [data-balloon]:hover::after {
  opacity: 1;
  pointer-events: auto;
}

[data-balloon][data-balloon-pos='down']::before {
  left: 50%;
  margin-top: 10px;
  top: 100%;
  transform: translate3d(-50%, -10px, 0);
}

[data-balloon][data-balloon-pos='down']::after {
  background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(255, 88, 129, 1)" transform="rotate(180 18 6)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  left: 50%;
  margin-top: 5px;
  top: 100%;
  transform: translate3d(-50%, -10px, 0);
}

/*animazione*/
[data-balloon][data-balloon-pos='down']:hover::before {
  transform: translate3d(-50%, 0, 0);
}

[data-balloon][data-balloon-pos='down']:hover::after {
  transform: translate3d(-50%, 0, 0);
}

#testinografico{
  width: 37vw;
  text-align: left;
  margin-left: 2vw;
  color: #FF5880;
}


#primacolonna {
  margin-right: 2%;
  width: 25%;
  max-height: 100%;
}

#partedx {
  width: 75%;
  margin-bottom: 0px;
}

#sceglioggetto {
  margin-right: 0px;
  display: flex;
  margin-bottom: 9%;
}

#tagselected {
  width: 30%;
  background-color: #4852FE;
  margin-right: 0;
}

#tagselected img {
  width: 100%;
  height: 100%;
  margin-top: -0.10%;
  display: flex;
  filter: drop-shadow(0px 19.2597px 19.2597px rgba(0, 0, 0, 0.5));
}

.spaceselector {
  width: 5%;
  background-color: none;
}

#tagnotselected {
  width: 30%;
  background-color: white;
  margin-right: 0;
}

#tagnotselected:hover {
  background-color: #AFB3F9;
  transition: 0.3s ease-in-out;
}

#tagnotselected img {
  width: 100%;
  height: 100%;
  margin-top: -0.8%;
  display: flex;
}

#settimana {
  width: 62%;
  margin-right: 3%;
  margin-bottom: 3%;
  padding: 2%;


}






.sottodiviso{
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
}

#lineatemporale{
  width: 85%;
  height: 100%;
  position: relative;
}


.grid-container {
  display: grid;
  grid-template-columns: 2% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
  grid-template-rows: 20% 20% 20% 20% 5%;
height: 100%;
  font-family: TTNormsRegular;
}

.grid-item {
  border-top: 1px dotted rgba(72,82,254, 0.2) ;
  border-right: 1px solid rgba(72,82,254, 1);
}

.sotto{
  padding-top: 4px;
  font-family: TTNormsBold;
  color: rgba(72,82,254, 1);
}

.vuotoinizio{
border: 0px;
border-top: 1px solid rgba(72,82,254, 0.2);

}

.giorno1{
    border-left: 1.5px solid rgba(72,82,254, 1);
}


.orarigiusti{
  width: 7%;
justify-content: center;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 10% 20% 20% 20% 20%;
height: 100%;
font-family: TTNormsRegular;
align-items: center;
padding-left: 3%;

}

.ore{


font-family: TTNormsRegular;
text-align: left;
font-size: 8px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgba(72,82,254, 0.7);
  border: 2px solid rgba(72,82,254, 1);
  border-radius: 50%;
  display: inline-block;
}



.dot1{
  height: 20px;
  width: 20px;
  margin-top: 10%;
}

.dot2{
  height: 15px;
  width: 15px;
  margin-top: 0%;
}


.dot3{
  height: 25px;
  width: 25px;
  margin-top: 20%;
}


.dot4{
  height: 32px;
  width: 32px;
  margin-top: 0%;
}

.dot5{
  height: 15px;
  width: 15px;
  margin-top: 0%;

}

.dot6{
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.dot7{
  height: 24px;
  width: 24px;
  margin-top: 10%;
}

.dot8{
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.dot9{
  height: 15px;
  width: 15px;
    margin:30%;
  margin-top: 0%;

}

.dotesame{
  height: 10px;
  width: 10px;
  margin-top: 50%;
}

.dot:hover {
  background-color: rgba(72,82,254, 1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}




.dot .infogiorno {
  visibility: hidden;
  width: 80px;
  background-color: #FF5880;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  font-family: TTNormsRegular;
  font-size: 10px;


  top: 10%;
  right: 37%;
  left: 40.5%;

}

.dot .infogiorno::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #FF5880 transparent;
}

.dot:hover .infogiorno {
  visibility: visible;
  transition: 0.3s ease-in-out;
}


.accountballoon{
  margin-top: 8%;
}


#infogiorno1{
  top: 55%;
  right: 90%;
  left: -2%;
}

#infogiorno2{
  top: 30%;
  right: 90%;
  left: 12%;
}

#infogiorno3{
  top: 79%;
  right: 90%;
  left: 12%;
}

#infogiorno4{
  top: 58%;
  right: 90%;
  left: 26.5%;
}

#infogiorno6{
  top: 39%;
  right: 90%;
  left: 55%;
}

#infogiorno7{
  top: 75%;
  right: 90%;
  left: 55%;
}

#infogiorno8{
  top: 59%;
  right: 100%;
  left: 69.4%;
}

#infogiorno9{
  top: 59%;
  right: 90%;
  left: 69.3%;
}

#infogiorno9{
  top: 10%;
  right: 90%;
  left: 83.8%;
}

#infogiornoesame{
  top: 40%;
  right: 90%;
  left: 83.8%;
}







.orario{
  text-align: right;

}




.nodxline{
  border-right: 0px;
}

.notopline{
  border-top: 0px;
}

#commento {
  width: 35%;
  margin-right: 0px;
  padding-top: 0px;
  margin-bottom: 3%;
}

#partesotto {
  display: flex;
  margin-bottom: 0px;
  height: 50%;
}


#duration {
  width: 25%;
  margin-right: 3%;
  color: #FF5880;
}

#hornymeter {
  width: 25%;
    margin-right: 3%;
      color: #FF5880;
}

#pacing {
  width: 50%;
  margin: 0px;
    color: #FF5880;
}

#graficocommentino {
  display: flex;
  width: 100%;
  margin-right: 0px;
height: 50%;
}

#altodxalto {
  display: flex;
  width: 90%;
  height: 7.5vw;
  margin: 1vw;
}

#profilephoto {
  width: 10vw;
  height: auto;
  border-radius: 60vw;
  margin: 0.5vw;
  margin-left: 1vw;
  border-color: #FF5880;
  border-style: solid;
  overflow: hidden;
  border-width: 0.2vw;
  align-items: center;
}

#profilephoto img {
  height: 110%;


}

#dati {
  width: 100%;
}

#name {
  font-size: 1.2vw;
  text-align: left;
  font-family: TTNormsBold;
  margin: 1vw;
  margin-top: 1.3vw;
  color: #FF5880;
}

#sudilui {
  font-size: 1vw;
  text-align: left;
  font-family: TTNormsRegular;
  margin-left: 1vw;
  color: #FF5880;
  margin-top: -0.5vw;
  margin-bottom: -0.5vw;
}

#place {
  font-size: 1vw;
  text-align: left;
  font-family: TTNormsRegular;
  margin-left: 0.3vw;
  color: #FF5880;
}

#posto {
  display: flex;
  margin-top: 1.1vw;
  height: 2vw;
}

#iconposto {
  margin-top: 0.08vw;
  margin-left: 1vw;
}

#iconposto img {
  height: 1.1vw;
}

#altodxbasso {
  display: flex;
  height: 4.5vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.dxcpw{
  width: 50vw;
  color: #FF5880;
  font-family: TTNormsBold;
}

.dxcpw img {
  width: 80%;
  border-radius: 1.2vw;
}

#centrale{

  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 50vw;
  border-left: 0.2vw solid #FF5880;
  border-right: 0.2vw solid #FF5880;

}

#nomargin{
  margin-right: 0vw;
}



#wallet {
  margin-right: 0;
  max-height: 81%;
  padding: 10%;
  padding-bottom: 2%;
}

#totale {
  text-align: left;
  display: flex;
  color: #4852FE;
}

#soldicoomy {
  font-size: 25px;
  padding-top: 0.7vw;
}

#tuttisoldi {
  font-size: 10px;
}

#totale img {
  height: 60px;
  margin-left: 8%;
  margin-top: -2%;
}

#titletransaction {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 3%;
  color: #FF5880;
}

#table {
  width: 100%;
  height: 25vw;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

table td {
  height: 30px;
}

.col1 {
  width: 1%;
  padding-right: 0;
}

.col1 img {
  height: 100%;
  border-radius: 10px;
}

.col2 {
  width: 40%;
  padding-left: 5%;
}

.col3 {
  width: 1vw;
  padding-left: 20%;
  padding-right: 10%;

}

#taggatopoopy {
  opacity: 0.5;
}

#taggatowheezy {
  opacity: 0.5;
}

.scrittomini {
  font-size: 8px;
  opacity: 0.5;
  font-family: TTNormsRegular;
}

.titolinowallet {
  font-size: 10px;
  color: #FF5880;
}

.illustration img {
  margin-top: 6%;
  width: 7vw;
  max-width: 100px;
}

.commentoni {
  font-size: 30px;
  color: #4852FE;
    font-family: TTNormsBold;

}

.commentini {
  margin-top: 0.5vw;
  font-size: 14px;
  font-family: TTNormsBold;
  line-height: 1.1;
  color: #333333;
}

#punteggio {
  display: flex;
  text-align: center;
}

#numerino {
  height: 100%;
  color: #333333;
  margin-top: 2%;
}

.spazio {
  width: 50vw;
}

.frecciapunteggio img {
  height: 15px;
  margin-left: 0.1vw;
}

#myChart{
  font-family: serif;
  font-size: 30px;
}


.container {
  margin: 30px auto;
  padding: 120px;
}

.relative {
  padding: 10px;
  border: 1px solid red;
  position: relative;
}

.content {
  overflow: auto;
}

.absolute {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 75px;
  height: 50px;
  background: indianred;
}
