
/* SCRITTEINIZIALI */

body{
  text-align: center;
  font-family: TTNormsBold;
  margin: 0px;
}


.scritteiniziali{
  height: 100vh;
}

.logoprodotto{
padding-top: 20vh;
font-family: sourtype;
font-size: 4vh;
color: #FF5880;
}

.fraseiniziale{
font-size: 50px;
color: #4852FE;
}

.compra{
background-color: #FF5880;
width: 130px;
padding: 10px;
font-size: 14px;
color: white;
cursor: pointer;
z-index: 10;
border-radius: 20px;
margin-top: 40px;}

.compra:hover{
background-color: #FF92AC;
  transition: 0.3s ease-in-out;
}

.fotoprodotto{
  width: 100vw;
  bottom: -10px;
  position: absolute;
  z-index: 1;
}

.fotoprodotto img{
  max-width: 100vw;
  max-height: 100vh;
}

.flexcenter{
display: flex;
justify-content: center;
}

/* PRIMO VIDEO */

.videouno{
  background-color: #C4C4C4;
  width: 100vw;
  height: 500px;
  margin-top: 40px;
  text-align: center;
    font-family: TTNormsBold;
}

/* SCRITTA INTRO */

.scrittaintro{
  padding: 150px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #4852FE;
  margin: 10px 0 0px 0;
}

.introtuttapage{
  margin: 10vh 0 10vh 0;
  padding: 150px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #4852FE;
}

.iconproduct{
  height: 20vh;
  padding-bottom: 10px;
}

.iconproduct img{
  height: 100%;
}

.scrittaintro{

}


.scrittaintrodopoesploso{
  padding: 150px 100px 250px 100px ;
  font-size: 25px;
  color: #4852FE;
  background-color: WHITE;
}

/* VIDEO DUE */
.videouno{
  background-color: #C4C4C4;
  width: 100vw;
  height: 500px;
  margin-top: 40px;
  text-align: center;
    font-family: TTNormsBold;
}

#logo img {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 45px;
  overflow: hidden;
  float: left;
  opacity: 0.8;
  width: 35px;
}

#logo img:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


.bcg {
	background-position: center center;
	background-size: cover;
  background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
  position: sticky;
  top: 0;
}

/* Slide 5 */
#scrittascura {
height: 200vh;}

#scrittascura .bcg {
  background-image:url('logo/chiara.png');
}

#scrittascura .bcg2 {
  background-image:url('logo/scura.png');
  position: sticky;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1}

.hsContainer {
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
}

.hsContent {
	width: 45%;
  padding-top: 40vh;
	color: white;
	text-align: center;
}
.hsContent h2{

font-size: 35px;

}


#scrittascurax2 {
height: 200vh;}

#scrittascurax2 .bcgx2 {
  background-image:url('logo/chiara.png');
}

#scrittascurax2 .bcg2x2 {
  background-image:url('logo/scura.png');
  position: sticky;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1}

  .bcgx2 {
  	background-position: center center;
  	background-size: cover;
    background-repeat: no-repeat;
  	height: 100vh;
  	width: 100%;
    position: sticky;
    top: 0;
  }

.hsContainerx2 {
	width: 100%;
	height: 100%;
  display: flex;
  justify-content: center;
}

.hsContentx2 {
	width: 400px;
  padding-top: 40vh;
	color: white;
	text-align: center;
}

.tipregovai{
  height: 600px;
}


.instruction{
  width: 100vw;
  background-color: white;
  color: white;
  font-size: 25px;
    color: #4852FE;
}





.pass{
  background-color: #white;
  width: 20%;
  margin: 40px;
  margin-bottom: 40PX;
  font-size: 16px;
  color: #333333;
  font-family: TTNormsRegular;
  text-align: left;

}

.pass img{
  max-width: 100%;
  margin-bottom: 20px;
}

.boxinstr{
  height: 200px;
  padding-top: 50%;
}


.containerinstruction{
  display: flex;
  width: 100%;
  background-color: orange;
  height: 50vh;
  position: block;


}


.titolinoinstri{
  font-size: 30px;
    font-family: sourtype;
    color: #4852FE;
}

.titolinospiega{
  font-family: sourtype;
  font-size: 20px;
  color: #FF5880;
}





.primobox{
  width: 35vw;
  background-color: red;
  height: 50vh;
  position: sticky;
  top: 0;
}

.secondobox{
  width: 35vw;
  background-color: green;
  height: 150vh;
  top: 0;
  position: fixed;
}

.terzobox{
  width: 35vw;
  background-color: pink;
  height: 50vh;
  margin-top: 300px;
}

#set-height {
  max-height: 4000px;
  display: none;
}

#v0 {
  top: 0;
  left: 0;
  width: 90%;
  margin-left: 0%;
  height: 90vh;
  position: sticky;}



.scrittapresensor{
  padding: 50px;
  font-size: 25px;
  color: #4852FE;
  margin: 100px 0 -200px 0;

}




#scrittesuvideo0 {
  height: 5000px;
    text-align: left;
    position: sticky;
}

#scrittesurender {
    text-align: left;
    position: sticky;
}

.fraserender{
  height: 300px;
background-color: WHITE;
  width: 20%;
  padding-TOP: 20px;
  padding-left: 5vw;
}

#fraserender1{
  margin-top: 10vh;

}

#fraserender2{
  margin-top: 40vh;
  margin-left: 75vw;
  padding-left: 0px;
}

#fraserender3{
  margin-top: 55vh;
}


.fotosensorlat{
text-align: left;
height:60vh;
}

.fotosensorlat img{
  height: 100%;
}

.sensor{
  width: 30%;
border-radius: 20px;
text-align: left;
margin-top: -35vh;
margin-left: 68%;
display: flex;
}

.rendersingolosensor{
  border-radius: 20px;
  height: 18vh;
}

.rendersingolosensor img{
  height: 20vh;
  margin-top: -1vh;
}



.sopratitolino{
  font-size: 20px;
  font-family: sourtype;
  color: #FF5880;
  text-align:left;
}

.sopratitolinor{
  font-size: 20px;
  font-family: sourtype;
  color: #FF5880;
  text-align:left;
}

.sensorrender{
border-radius: 20px;
}

.sensorrender img{
  width: 100%;
  height: 400px;
}

.coprisensor{
  width: 30%;
  background-color: white;
  height: 400px;
  position: sticky;
}

.titolino{
font-size: 26px;
color: #4852FE;
margin: 10px 0 10px 0;
}

.spiegaz{
  font-size: 16px;
  font-family: TTNormsRegular;
  padding-right: 20px;
  width: 90%;
}

.modello3d{
  width: 70%;
  background-color: #F8F8F8;
  height: 600px;
  border-radius: 20px;
}

.modello3d model-viewer{
  width: 100%;
height: 100%;}

.sopratitolointro{
font-family: sourtype;
margin-bottom: 10px;
font-size: 20px;
color: #FF5880;
}

/* Slideshow container */
.slideshow-container {
  width: 70vw;
  height: 60vh;
  position: relative;
  margin: auto;
  border-radius: 20px;
  background-color: #F8F8F8;
}

.slideshow-container2 {
  width: 70vw;
  margin: auto;
  position: relative;
  border-radius: 20px;
  background-color: white;
}

/* Hide the images by default */
.mySlides1 {

}

.mySlides1 img{
  border-radius: 20px;
}

.mySlides2 {
border-radius: 50px;
}

.mySlides2 img{
  border-radius: 20px ;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top:50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FF5880;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -5%;
  border-radius:10px;
}

.prev {
  left: -5%;
  border-radius: 10px;
}

.prev2, .next2 {
  top:50%;

}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #FF5880;
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-bottom: 8px;;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dotimage {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 2px;
  background-color: #FF92AC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dotimage:hover {
  background-color: #FF5880;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#footerproduct{
  left: 0;
  margin-top: 300px;
  width: 100%;
  padding: 20px 20px 20px 0px;
  color: white;
  text-align: center;
}

#footerproduct img {
  width: 140px;
}
