@font-face {
  font-family: TTNormsBold;
  src: url("fonts/ttnormspro/TTNorms-Bold.otf") format("opentype");
}

@font-face {
  font-family: TTNormsBlack;
  src: url("fonts/ttnormspro/TTNorms-Black.otf") format("opentype");
}

@font-face {
  font-family: TTNormsRegular;
  src: url("fonts/ttnormspro/TTNorms-Regular.otf") format("opentype");
}

@font-face {
  font-family: sourtype;
  src: url("fonts/sourtype.ttf") format("truetype");
}

@font-face {
  font-family: souricon;
  src: url("fonts/souricon.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  margin-left: 0px;
}

.homepage {
  font-family: TTNormsRegular;
  text-align: center;
}

.sfondohome {
  width: 100vw;
  position: relative;
}

.sfondohome img {
  max-width: 103%;
}

.testihome {
  padding-left: 8vw;
  position: absolute;
  top: 18vw;
  font-family: TTNormsBlack;
  font-size: 4vw;
  color: white;
  text-align: left;
}

.testohome1 {
  width: 40vw;
}

.testohome2 {
  margin-top: 2vh;
  width: 35vw;
}

.buttonabout {
  margin-top: 3vh;
  font-family: TTNormsBold;
  font-size: 12px;
  padding: 10px;
  background-color: #FF5880;
  color: white;
  text-align: center;
  width: 30%;
  border-radius: 20px;
}

.buttonabout a {
  text-decoration: none;
  color: white;
}

.buttonabout:hover a {
  text-decoration: none;
  color: #FF5880;
  transition: 0.3s ease-in-out;
}

.buttonabout:hover {
  background-color: white;
  color: #FF5880;
  transition: 0.3s ease-in-out;
}

.prodotti {
  width: 100vw;
  height: auto;
  margin: 0px;
  justify-content: center;
  display: flex;
}

.boxvideoteaser {
  width: 100vw;
  margin: 0px;
  justify-content: center;
}

.boxhome {
  width: 20%;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F8F4F4 100%);
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
}

.boxhome img {
  width: 100%;
  border-radius: 20px;
}

.boxhome:hover {
  box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.2);
  transition: 0.3s ease-in-out;
}

.nomiprodotti {
  width: 22%;
  margin: 10px 10px 0px 10px;
  text-align: center;
}

table img {
  background-color: rgba(56, 66, 241, 1);
}

.videoteaser {
  width: 70%;
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
  overflow: hidden;
}

.spiegazione {
  width: 100vw;
  height: auto;
  margin: 0px;
  margin-top: 50px;
  justify-content: center;
}

.testospiega {
  margin: 20px;
  margin-bottom: 5px;
  font-family: TTNormsBold;
  font-size: 20px;
  color: #FF5880;
  margin-top: 50px;
}

.testinihome {
  margin: 0px;
  margin-bottom: 20px;
}

.boxspiega {
  width: 10%;
  height: 10vw;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F8F4F4 100%);
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
}

.didascaliaspiega {
  width: 10%;
  margin: 10px 10px 0px 10px;
}

.boxspiega img {
  height: 60%;
  margin: 20%;
}

.flex {
  display: flex;
  justify-content: center;
}

#footerhome {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 20px 0px;
  color: white;
  text-align: center;
  margin-top: 4vw;
}

#footerhome img {
  width: 100px;
}

.scrittefooter {
  font-size: 12px;
  color: #333333;
  margin-top: 5px;
  line-height: 18px;
  font-family: TTNormsRegular;
}

#accountpage {}

#centrapage {
  display: flex;
  justify-content: center;
}

#navbar {
  background-color: #FF5880;
  position: fixed;
  height: 45px;
  width: 101%;
  font-family: TTNormsBold;
  font-size: 11px;
  margin: -10px;
  margin-top: -10px;
  z-index: 20;
  justify-content: center;
  top: 10px;
}

.li {
  float: left;
  width: auto;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

.active a {
  background-color: white;
  color: #FF5880;
}

.li a:hover {
  background-color: white;
  color: #FF5880;
  transition: 0.3s ease-in-out;
}



#about {
  margin-right: 55px;
}

.dx {
  float: right;
}

#logo img {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 45px;
  overflow: hidden;
  float: left;
  opacity: 0.8;
  width: 35px;
}

#logo img:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 20px 0px;
  color: white;
  text-align: center;
  margin-top: 3vw;
}

#shoppingbag {
  position: absolute;
  top: 35px;
  right: 132px;
  align-content: center;
  z-index: 1;
  width: 200px;
  opacity: 0;
  display: none;
  height: 100px;
}

#informa {
  font-family: souricon;
  font-size: 35px;
  background-color: pink;
  line-height: 13px;}


#carrellosksk a {
  padding-top: 15px;
  font-family: souricon;
  font-size: 35px;
}

#carrellosksk a:hover {
  background-color: white;
  color: #FF5880;
  cursor: pointer;
}

#carrellosksk a:hover+#shoppingbag {
  opacity: 1;
  display: block;
}

#shoppingbag:hover {
  opacity: 1;
  display: block;
}

#triangolino {
  height: auto;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.3);
}

#empty {
  height: 35%;
  border-bottom-style: solid;
  border-bottom-width: 0.1vw;
  color: #C4C4C4;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 5.5;
  text-align: center;
}

.scrittacarello {
  margin-left: 10px;
  font-family: 'TTNormsRegular';
  line-height: 2.3;
}

.scrittacarello:hover {
  font-family: 'TTNormsBold';
  cursor: pointer;
  text-decoration: underline;
}

#bag {
  border-bottom-style: solid;
  border-bottom-color: #C4C4C4;
  border-bottom-width: 0.1vw;
  color: rgba(56, 66, 241, 1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-top: 7px;
  display: flex;
}

#triangolino img {
  height: 3vh;
  padding-left: 0.5vw;
}

#saveditems {
  border-bottom-style: solid;
  border-bottom-color: #C4C4C4;
  border-bottom-width: 0.1vw;
  color: rgba(56, 66, 241, 1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-top: 7px;
  display: flex;
}

#orders {
  color: rgba(56, 66, 241, 1);
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
  padding-bottom: 10px;
  font-family: 'TTNormsRegular';
  display: flex;
}

#triangoloalto {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  left: 20vw;
  box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.3);
}

#containertriangolo {
  display: flex;
}

#vuoto {
  width: 50%;
}

#footer img {
  width: 100px;
}

#domanda {
  font-family: TTNormsBold;
  font-size: 30px;
  padding-top: 12vh;
  padding-bottom: 2vw;
  color: #333333;
}

#container {
  display: flex;
  max-width: 900px;
}

.dashbox {
  background-color: white;
  text-align: center;
  border-radius: 15px;
  margin-right: 2%;
  box-shadow: 0px 0px 20px rgba(97, 104, 225, 0.3);
  font-family: TTNormsBold;
  font-size: 10px;
  padding-top: 2%;
}

.titolidashbox{
    font-size: 12px;
}

.thisweek{
  border-top: solid 2px;
  border-color: #c3c3c3;

  padding: 5px;
  padding-top: 10px;
  position: relative;
}

.settimanaaperta{
  color: #FF5880;
  font-size: 10px;
}

.guadagnothisweek{
  text-align: right;
  margin-left: 108px;
  font-size: 18px;
  position: absolute;
}

.guadagnootherweek{
  text-align: right;
  margin-left: 115px;
  font-size: 16px;
  padding-top: 2px;
  position: absolute;}

.hoveropacity{
  opacity: 0.5;
}

.hoveropacity:hover{
  opacity: 1;
  border-color: #c3c3c3;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.rigawallet{
  margin-bottom: 10px;
}

.giorniprecisi{
font-size: 9px;
opacity: 0.5;
font-family: TTNormsBold;
margin-bottom: 10px;}

#puntodomandasettimana {
  margin-top: -0.2%;
}

#ingrandiscisettimana {
  margin-top: -0.2%;
}

#ingrandisciwallet {
  margin-top: 0.9%;
  position: absolute;
  margin-left: 15%;
  z-index: 1;
}

.puntodomanda:hover {
  background-color: #FF5880;
  transition: 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

#testinografico {
  width: 37vw;
  text-align: center;
  margin-left: 2vw;
  color: #FF5880;
}

#primacolonna {
  margin-right: 2%;
  width: 25%;
}

#partedx {
  width: 75%;
  margin-bottom: 0px;
  height: 500px;
}

#sceglioggetto {
  margin-right: 0px;
  display: flex;
  margin-bottom: 20px;
  height: 65px;
}

#tagselected {
  width: 30%;
  background-color: #4852FE;
  margin-right: 0;
}

#tagselected img {
  width: 100%;
  height: 100%;
  margin-top: -0.10%;
  display: flex;
  filter: drop-shadow(0px 19.2597px 19.2597px rgba(0, 0, 0, 0.5));
}

.spaceselector {
  width: 5%;
  background-color: none;
}

#tagnotselected {
  width: 30%;
  background-color: white;
  margin-right: 0;
}

#tagnotselected:hover {
  background-color: #AFB3F9;
  transition: 0.3s ease-in-out;
}

#tagnotselected img {
  width: 100%;
  height: 100%;
  margin-top: -0.8%;
  display: flex;
}

#settimana {
  width: 440px;
  margin-right: 20px;
  padding: 2%;
}

.sottodiviso {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
}

#lineatemporale {
  width: 85%;
  height: 100%;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 2% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
  grid-template-rows: 20% 20% 20% 20% 5%;
  height: 100%;
  font-family: TTNormsRegular;
}

.grid-item {
  border-top: 1px dotted rgba(72, 82, 254, 0.2);
  border-right: 1px solid rgba(72, 82, 254, 1);
}

.sotto {
  padding-top: 4px;
  font-family: TTNormsBold;
  color: rgba(72, 82, 254, 1);
}

.vuotoinizio {
  border: 0px;
  border-top: 1px solid rgba(72, 82, 254, 0.2);
}

.giorno1 {
  border-left: 1.5px solid rgba(72, 82, 254, 1);
}

.orarigiusti {
  width: 7%;
  justify-content: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 20% 20% 20% 20%;
  height: 100%;
  font-family: TTNormsRegular;
  align-items: center;
  padding-left: 3%;
}

.ore {
  font-family: TTNormsRegular;
  text-align: left;
  font-size: 8px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgba(72, 82, 254, 0.7);
  border: 2px solid rgba(72, 82, 254, 1);
  border-radius: 50%;
  display: inline-block;
}

.dotactive{
background-color: rgba(72, 82, 254, 1);
}

.dot1 {
  height: 20px;
  width: 20px;
  margin-top: 10%;
}

.dot2 {
  height: 10px;
  width: 10px;
  margin-top: 0%;
}

.dot3 {
  height: 25px;
  width: 25px;
  margin-top: 20%;
}

.dot4 {
  height: 32px;
  width: 32px;
  margin-top: 0%;
}

.dot5 {
  height: 15px;
  width: 15px;
  margin-top: 0%;
}

.dot6 {
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.dot7 {
  height: 24px;
  width: 24px;
  margin-top: 10%;
}

.dot8 {
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.dot9 {
  height: 12px;
  width: 12px;
  margin: 30%;
  margin-top: 10%;
}

.dotesame {
  height: 10px;
  width: 10px;
  margin-top: 40%;
  background-color: rgba(255,88,128, 0.7);
  border: 2px solid rgba(255,88,128, 1);
}

#dotesame{
  visibility: visible;
}

.dot:hover {
  background-color: rgba(72, 82, 254, 1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dotesame:hover {
  background-color: rgba(255,88,128, 1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dot .infogiorno {
  visibility: hidden;
  width: 80px;
  background-color: #FF5880;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  font-family: TTNormsRegular;
  font-size: 10px;
  top: 10%;
  right: 37%;
  left: 40.5%;
}

.dot .infogiorno::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #FF5880 transparent;
}

.dot:hover .infogiorno {
  visibility: visible;
  transition: 0.3s ease-in-out;
}

.accountballoon {
  margin-top: 8%;
}

#infogiorno1 {
  top: 56%;
  right: 92%;
  left: -1.5%;
}

#infogiorno2 {
  top: 28%;
  right: 90%;
  left: 12.5%;
}

#infogiorno3 {
  top: 79%;
  right: 92%;
  left: 15%;
}

#infogiorno4 {
  top: 58%;
  right: 90%;
  left: 27%;
}

#infogiorno5 {
  top: 10%;
  right: 37%;
  left: 41%;
}


#infogiorno6 {
  top: 39%;
  right: 90%;
  left: 57%;
}

#infogiorno7 {
  top: 75%;
  right: 90%;
  left: 57%;
}

#infogiorno8 {
  top: 60%;
  right: 100%;
  left: 69.7%;
}



#infogiorno9 {
  top: 11%;
  right: 90%;
  left: 84.2%;
}

#infogiornoesame {
  top: 40%;
  right: 90%;
  left: 84%;
}

.orario {
  text-align: right;
}

.nodxline {
  border-right: 0px;
}

.notopline {
  border-top: 0px;
}

#commento {
  width: 210px;
  margin-right: 0px;
  padding-top: 0px;
  height: 200px;
}

#partesotto {
  display: flex;
  margin-bottom: 0px;
  height: 200px;
  width: 700px;
  justify-content: center;
}

#duration {
  width: 150px;
  margin-right: 20px;
  color: #FF5880;
}

#hornymeter {
  width: 150px;
  margin-right: 20px;
  color: #FF5880;
}

#pacing {
  width: 360px;
  margin: 0px;
  color: #FF5880;
  overflow-x: scroll;
  overflow-y: hidden;
}

#graficocommentino {
  display: flex;
  width: 700px;
  height: 200px;
  margin-bottom: 20px;
  margin-right: 0px;
}

#altodxalto {
  display: flex;
  width: 300px;
  margin: 20px 20px 10px 20px;
}

#profilephoto {


}

#profilephoto img {
  border-radius: 50%;
  border-color: #FF5880;
  border-style: solid;
  overflow: hidden;
  border-width: 2px;
  width: 50px;
  height: 50px;

}

#dati {
  width: 100%;
}

#name {
  font-size: 14px;
  text-align: left;
  font-family: TTNormsBold;
  margin: 8px;
  margin-top: 12px;
  color: #FF5880;
}

#sudilui {
  font-size: 11px;
  text-align: left;
  font-family: TTNormsRegular;
  color: #FF5880;
  margin: -10px;
  margin-bottom: 0px;
  margin-left: 8px;
}



.altodxbasso {
  width: 190px;
  height: 100px;
  margin: 10px;
  margin-top: 15px;

}

.iconetesto{
text-align: left;
display: flex;
align-items: center;
font-family: TTNormsRegular;
margin-left: 15px;

}

.iconetesto:hover {
  font-family: 'TTNormsBold';
  cursor: pointer;
  text-decoration: underline;
    transition: 0.1s ease-in-out;

}

.iconetesto img{
  width: 25px;
  padding: 0px 5px 5px 10px;

}

#centrale {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 50vw;
  border-left: 0.2vw solid #FF5880;
  border-right: 0.2vw solid #FF5880;
}

#nomargin {
  margin-right: 0px;
}

#wallet {
  margin-right: 0;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 2%;
  height: 320px;
}

#totale {
  text-align: left;
  display: flex;
  color: #4852FE;
}

#soldicoomy {
  font-size: 25px;

}

#tuttisoldi {
  font-size: 10px;
  padding-top: 5px;
}

#totale img {
  height: 60px;
  margin-left: 8%;
  margin-top: -2%;
}

#titletransaction {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 3%;
  color: #FF5880;
}

#table {
  width: 100%;
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
}

table td {
  height: 30px;
  padding-bottom: 5px;
}

.col1 {
  width: 1%;
  padding-right: 0;
}

.col1 img {
  height: 100%;
  border-radius: 10px;
}

.col2 {
  width: 40%;
  padding-left: 5%;
}

.col3 {
  width: 1vw;
  padding-left: 20%;
  padding-right: 10%;
}



#nontaggato{
  opacity: 0.5;
}

#taggato{
  opacity: 1;
}

#nontaggato:hover{
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.scrittomini {
  font-size: 10px;
  opacity: 0.5;
  font-family: TTNormsBold;
}

.titolinowallet {
  font-size: 10px;
  color: #4852FE;
}

.illustration img {
  margin-top: 6%;
  max-height: 55px;
}

.commentoni {
  font-size: 30px;
  color: #4852FE;
  font-family: TTNormsBold;

}

.commentonipoopy {
  font-size: 30px;
  color: #4852FE;
  font-family: TTNormsBold;
  margin-top: -5px;
}

.commentini {
  margin-top: 0.5vw;
  font-size: 14px;
  font-family: TTNormsBold;
  line-height: 1.1;
  color: #333333;
}

.commentinix {
  margin-top: 0.1vw;
  font-size: 13px;
  font-family: TTNormsBold;
  line-height: 1.1;
  color: #333333;
}

#punteggio {
  display: flex;
  text-align: center;
}

#numerino {
  height: 100%;
  color: #333333;
  margin-top: 3%;
    text-align: center;
}

.spazio {
  width: 50vw;
}

#freccina{
  font-family: souricon;
  font-size: 32px;
  color: #FF5880;
  padding-left: 3px;
}


.chartBox{

  width: 800px;
  margin-top: 10px;


}

#myChart{

}

canvas{
  width: 500px;
  height: 50px;
}

.scrittapacing{
  position: fixed;
  text-align: center;
  width: 360px;

}

.larghezzapacing{
  width: 360px;
  position: fixed;
}



.container {
  margin: 30px auto;
  padding: 120px;
}

.relative {
  padding: 10px;
  border: 1px solid red;
  position: relative;
}

.content {
  overflow: auto;
}

.absolute {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 75px;
  height: 50px;
  background: indianred;
}
